.DS_Store

__pycache__

# Saved trace or trials (dataframe) 
model_fitting/saved_trace
model_fitting/saved_trials_ppc

simulation/simulated_data
simulation/true_param

# Temporarily ignore the original model fitting notebook while debugging
model_fitting/model_fitting.ipynb