.DS_Store
__pycache__

# Ignore the virtural environment
venv

# Ignore the BEESTS application from the original paper
BEESTS_MAC_OSX
BEESTS_Windows
BEESTS/data

# Temporarily ignore real data for paper
data_for_paper

# Saved trace or trials (dataframe) 
model_fitting/saved_trace
model_fitting/saved_trials_ppc

# Simulated data and true parameter csv files
simulation/simulated_data
simulation/true_param

# Temporarily ignore the original model fitting notebook while debugging
model_fitting/model_fitting.ipynb